@font-face {
  font-family: "varela";
  src: local("varela"), url("./Fonts/VarelaRound-Regular.ttf");
}

body {
  font-family: varela;
  background-color: #181818;
  padding: 5%;
}

h1 {
  font-size: 3.5vw;
  color: white;
}

h2 {
  font-size: 2vw;
  color: white;
}

h3 {
  color: #c6c6c6;
  font-size: 1vw;
}
