#data {
  display: flex;
  flex-direction: row;
  gap: 3%;
}

#transactions {
  color: #1b4965;
  padding: 1%;
}

#transactions_daily {
  border: black 3px solid;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}
#transactions_charts {
  width: 75%;
}
